﻿<style>
    body {
        background-image: url('../../Content/images/img1.jpg');
    }
    
</style>
@model AuthApp.Web.Models.LoginModel
@{
    ViewBag.Title = "Login";

}
@using (Html.BeginForm("Login", "Auth", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-validate", role = "form" }))
{
    @Html.AntiForgeryToken()

    @*<div class="container">
        <div class="row">
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger" role="alert">@ViewBag.ErrorMessage</div>
            }
            <div class="form">
                <div class="form-group">
                    <span>Log in to your account</span>
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(e => e.Username, new { @class = "form-control", @required = true, @placeholder = "Enter username" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(e => e.Password, new { @class = "form-control", @required = true, @placeholder = "Enter password" })
                </div>
                <button id="loginBtn" type="submit" class="btn btn-default">Login</button>
            </div>
        </div>
    </div>*@
    <div class="limiter" style=" background-image: url('../../Content/images/img1.jpg')">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style=" background-image: url('../../Content/images/bg-01.jpg');">
                    <span class="login100-form-title-1">
                        Sign In
                    </span>
                </div>

                <form class="login100-form validate-form">
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger" role="alert">@ViewBag.ErrorMessage</div>
                    }
                    <div class="wrap-input100 validate-input m-b-26 col-6 " style="margin-left:150px" data-validate="Username is required">
                        <span class="label-input100">Username</span>
                        @Html.TextBoxFor(e => e.Username, new { @class = "input100", @required = true, @placeholder = "Enter username" })
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18 col-6 userclas" style="margin-left:150px" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        @Html.PasswordFor(e => e.Password, new { @class = "input100", @required = true, @placeholder = "Enter password" })
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-30 col-5" style="margin-left:150px">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Remember me
                            </label>
                        </div>

                        <div>
                            <a href="#" class="txt1">
                                Forgot Password?
                            </a>
                        </div>
                    </div>

                    <div class="container-login100-form-btn" style="margin-left:150px">
                        <button id="loginBtn" type="submit" class="login100-form-btn btn-group-xs">
                            Login
                        </button>
                        <button class="login100-form-btn">
                            @Html.ActionLink("Register", "Register", "Auth")
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
