﻿<style>
    body {
        background-image: url('../../Content/images/img1.jpg');
    }
</style>
@model AuthApp.Web.Models.RegisterModel
@{
    ViewBag.Title = "Register";

}
@*<h2>Register</h2>*@
@using (Html.BeginForm("Register", "Auth", new { }, FormMethod.Post, new { @class = "form-validate", role = "form" }))
{
    @Html.AntiForgeryToken()

    @*<div class="container">
        <div class="row">
            <div class="form">
                <div class="form-group">
                    @Html.TextBoxFor(i => i.Username, new { @class = "form-control", @placeholder = "Username" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(i => i.Password, new { @class = "form-control", @placeholder = "Password" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(i => i.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(i => i.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(i => i.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                </div>
                <button id="registerBtn" type="submit" class="btn btn-default">Register</button>
            </div>
        </div>
    </div>*@

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style=" background-image: url('../../Content/images/bg-01.jpg');">
                    <span class="login100-form-title-1">
                        Register
                    </span>
                </div>

                <form class="login100-form validate-form">
                    <div class="wrap-input100 validate-input m-b-26 col-6" style="margin-left:150px" data-validate="Username is required">
                        <span class="label-input100">Username</span>
                        @Html.TextBoxFor(i => i.Username, new { @class = "input100", @placeholder = "Username" })
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18 col-6" style="margin-left:150px" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        @Html.PasswordFor(i => i.Password, new { @class = "input100", @placeholder = "Password" })
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-18 col-6" style="margin-left:150px" data-validate="Password is required">
                        <span class="label-input100">ConfirmPass</span>
                        @Html.PasswordFor(i => i.ConfirmPassword, new { @class = "input100", @placeholder = "Confirm Password" })
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-26 col-6" style="margin-left:150px" data-validate="Username is required">
                        <span class="label-input100">FirstName</span>
                        @Html.TextBoxFor(i => i.FirstName, new { @class = "input100", @placeholder = "First Name" })
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-26 col-6" style="margin-left:150px" data-validate="Username is required">
                        <span class="label-input100">LastName</span>
                        @Html.TextBoxFor(i => i.LastName, new { @class = "input100", @placeholder = "Last Name" })
                        <span class="focus-input100"></span>
                    </div>
                    <div class="container-login100-form-btn" style="margin-left:150px">
                        <button id="loginBtn" type="submit" class="login100-form-btn">
                            Register
                        </button>
                        <button class="login100-form-btn">
                            @Html.ActionLink("Login", "Login", "Auth")
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
