﻿@model AuthApp.Web.Entities.ReportCreate

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>ReportCreate</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Nationality)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nationality)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReportNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReportNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CnicNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CnicNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DOB)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DOB)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SampleNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SampleNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TestDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TestDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ResultDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ResultDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Result)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Result)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ResultArabic)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ResultArabic)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
